h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #337ab7;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

.datapost {
  color: #999;
}

blockquote {
  font-weight: bold;
}

.menu {
  text-align: center;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rodape {
  color: #999;
  text-align: center;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
