body {
	margin-top: 25px;
	margin-bottom: 50px;
	background: none;
	color: #fff;
}

.full {
  background: url(../images/image4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* Opções de Fotos

../images/image4.jpg
../images/image5.jpg
../images/image6.jpg
../images/image7.jpg
../images/image9.jpg

*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

p {
font-size: 18px;
}
