/*
 * Globals
 */

body {
  font-family: 'Merriweather', serif;
  background-color: #f8f8f8;
}

.navbar {
  margin-bottom: 5px;
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  color: #181818;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Links gerais - http://www.color-hex.com/
 */

a {
  color:#990000;
  text-decoration:none;
}

a:focus,a:hover {
  color:#990000;
  text-decoration:underline
}

/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
  color: #181818;
}
.blog-description {
  font-size: 20px;
  color: #999999;
  font-weight: normal;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
  font-family: 'Open Sans', sans-serif;
  color: #181818;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #dfdfdf;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 20px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-data {
  margin-bottom: 20px;
  color: #999999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999999;
  text-align: center;
  background-color: #dfdfdf;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}
